:root{
    --rt-redpink: #B91550;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: var(--rt-redpink);
}

/* FORM */
#form{
    text-align: center;
}

h2{
    text-align: center;
    color: white;
    font-size: 2rem;
    line-height: 3;
}

/* card */
.card{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 2.5rem 0;
    border-radius: .5rem;
    box-shadow: 0px 0px 2px #00000058;
}

.card .input-group{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.card label{
    display: block;
    margin-bottom: 1rem;
    color: var(--rt-redpink);
    font-weight: 700;
}

.card input, .card select{
    text-align: center;
    border-radius: .3rem;
    font-size: 1.2rem;
    width: 20vw;
    line-height: 1;
    border: 0.185rem solid var(--rt-redpink);
}

.card button{
    font-size: 1.3rem;
    font-weight: 700;
    padding: .3rem .5rem;
    border-radius: .3rem;
    border: 0.125rem solid darkgray;
    color: var(--rt-redpink);
}
.card button:hover{
    border-color: orange;
}

/* TIKET */

h3{
    font-size: 1.6rem;
}
/* ticket-card */
#ticket .ticket-card{
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#ticket .ticket-card > div{
    display: flex;
}

#ticket .left-col{
    background-color: gray;
}

#ticket .right-col{
    width: 100%;
    padding: 0 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#ticket table{
    width: 100%;
    line-height: 3;
    text-align: left;
}